.app.dark {
  --bg-color: #1a2743;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #2c8772;
  --secondary-color: #3db59a;
  --inverted-primary-color: #1c649e;
  --inverted-secondary-color: #2e8edc;
}
