.app.dark {
  --bg-color: #1a2743;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #72fce0;
  --secondary-color: #2c8772;
  --inverted-primary-color: #2c8772;
  --inverted-secondary-color: #72fce0;
}