.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1a2743;

  --primary-color: #2c8772;
  --secondary-color: #72fce0;
  --inverted-primary-color: #72fce0;
  --inverted-secondary-color: #2c8772;
}